<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkTrafficMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NetworkTrafficMonitor.Properties.Settings>
            <setting name="Logfile" serializeAs="String">
                <value>C:\Users\Bommel\Documents\GitHub\NetworkTrafficLogger\NetworkAdapterTest\bin\Debug\NetworkTraffic.json</value>
            </setting>
            <setting name="ShowActiveAdaptersOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logfile1" serializeAs="String">
                <value>\\192.168.116.128\d\GitHub\NetworkTrafficLogger\NetworkAdapterTest\bin\Debug\NetworkTraffic.json</value>
            </setting>
            <setting name="Logfile2" serializeAs="String">
                <value>C:\Users\Bommel\Documents\GitHub\NetworkTrafficLogger\NetworkAdapterTest\bin\Debug</value>
            </setting>
            <setting name="Einstellung" serializeAs="String">
                <value>U:\GitHub\NetworkTrafficLogger\NetworkAdapterTest\bin\Debug\NetworkTraffic.json</value>
            </setting>
        </NetworkTrafficMonitor.Properties.Settings>
    </userSettings>
</configuration>