<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="vobsoft.net.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <userSettings>
        <vobsoft.net.Properties.Settings>
            <setting name="Logfile" serializeAs="String">
                <value>C:\Users\adbrvo0\source\repos\NetworkTrafficLogger\NetworkTrafficLogger\NetworkTraffic.s3db</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Logfile2" serializeAs="String">
                <value>D:\GitHub\NetworkTrafficLogger\NetworkTrafficLogger\NetworkTraffic.s3db</value>
            </setting>
            <setting name="Logfile3" serializeAs="String">
                <value>\\192.168.116.128\d\GitHub\NetworkTrafficLogger\NetworkTrafficLogger\NetworkTraffic.s3db</value>
            </setting>
            <setting name="Logfile4" serializeAs="String">
                <value>C:\Users\adbrvo0\source\repos\NetworkTrafficLogger\NetworkTrafficLogger\NetworkTraffic.s3db</value>
            </setting>
        </vobsoft.net.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
</providers>
</entityFramework>
</configuration>
